# Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Editor directories and files
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs and databases
*.log
*.tmp
